{% extends "DogeIncToolShare/base.html" %}

{% block contentHead %}
        Search Results
{% endblock %}

{% block content %}

{% if results.count > 0 %}
<table class="table table-striped" align="center">
    <tr>
        <th>
            <p>Tool Type</p>
        </th>
        <th>
            <p>Owner</p>
        </th>
        <th>
            <p>Description</p>
        </th>
    </tr>
{% for tool in results %}
    <tr>
        <!--{% if tool.owner.id != activeuser.id and tool.available == True %}-->
        <td>
            <a href="/tools/{{ tool.id }}/">{{ tool.tool_type }}</a>
        </td>
        <th>
            <p>{{ tool.owner.username }}</p>
        </th>
        <td>
            <p>{{ tool.description }}</p>
        </td>
        <!--{% endif %}-->
    </tr>
{% endfor %}
</table>
{% else %}
        <p>There are no tools available for you to borrow in your community.</p>
        <button onclick="location.href='/tools/tool_register/'">Register New Tool</button>
{% endif %}

{% endblock %}