{% extends "DogeIncToolShare/base.html" %}


{% block contentHead %}
       
 Request Tool

{% endblock %}


{% block content %}

        
<form action="/tools/borrow/{{ tool_id }}/{{ receiver_id }}/" method="post" enctype="multipart/form-data">

        <p><label for="id_duration">Duration:</label>
        <input id="id_duration" name="duration" type="number" />
        <input id="id_sender" name="sender" type="hidden" value="{{ activeuser }}" />
        <input id="id_receiver" name="receiver" type="hidden" value="{{ receiver_id }}"/>
        <input id="id_tool" name="tool" type="hidden" value="{{ tool_id }}"/>
        <input id="id_accepted" name="accepted" type="hidden" value="False"/></p>

        <input type="button" onclick="history.back();" value="Cancel">
        <input type="submit" name="submit" value="request tool">
</form>

{% endblock %}


<!--<p><label for="id_duration">Duration:</label>-->
    <!--<input id="id_duration" name="duration" type="number" />-->
    <!--<input id="id_sender" name="sender" type="hidden" />-->
    <!--<input id="id_receiver" name="receiver" type="hidden" />-->
    <!--<input id="id_tool" name="tool" type="hidden" />-->
    <!--<input id="id_accepted" name="accepted" type="hidden" /></p>-->